.homepage {
}

.homepage--title{
    margin-left: 20px; 
    color: #1191db; 
    font-family: Cambria; 
    padding: 10px;
    position:absolute;
    right:50px;
}

.homepage--special {
     font-family: Cambria;
     font-size: 35px;
     color: white;
     padding-left: 40px;
     background-color: #9fbff2;
     margin-top: 0px;
     margin-bottom: 1px;
     border-style: solid;
     border-left: hidden;
     border-right: hidden;
     

}