.homepage {
}

.homepage--title{
    margin-left: 20px; 
    color: #1191db; 
    font-family: Cambria; 
    padding: 10px;
    position:absolute;
    right:50px;
}

.homepage--special {
     font-family: Cambria;
     color: cornflowerblue;
     margin-left: 40px;
     margin-bottom: 40px;
}