.box {
    font-family: Cambria;
    color:#1191db ;
    font-size: 22px;
    width: 375px;   
    height: 100px; 
}

.box--fourth {
    font-family: Cambria; 
    float: left;
    width: 375px;   
    height: 450px; 
    margin-bottom: 5px;
    padding-right: 50px;
     padding-left: 40px;
     border-style: hidden;
     border-color: royalblue; 
     border-width: 2px; 
     background-color: white;  
     border-radius: 10px;
     margin-left: 4px; 

}

.box--fifth {
    font-family: Cambria; 
    float: left;
    width: 1000px;   
    height: 450px; 
    margin-bottom: 5px;
    top: 50px;
    padding-right: 10px;
     padding-left: 10px;
     border-style: hidden;
     border-color: royalblue; 
     border-width: 2px; 
     background-color: white;  
     border-radius: 10px;
     margin-left: 250px; 

}

 .box--description {
     float: left;
     width: 350px;    
     padding-right: 60px;
     padding-left: 50px;
     word-wrap: break-word; 
     font-family: Cambria;
     
 }

 .box--special {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px;  
     border-color: #1191db; 
     background-color:white; 
     border-right: lightblue;
     border-left: lightblue; 
     top: 240px; 
 }
 .box--aanbieding {
     float: left; 
     font-family: Cambria; 
     color: #1191db; 
     margin-left: 100px;
     padding-left: 100px; 
     border-style: solid;  
     background-color: whitesmoke; 
     border-right: lightblue;
     border-left: lightblue;  
 }

 .box--filter-category {
    font-family: Cambria; 
    float: left;
    width: 250px;   
    height: 150px;
    background-color: #9fbff2; 
    position: absolute;
    top: 240px;
    left: 0;
    margin-right: 15px; 
    padding-right: 20px;
    display: block; 
 }

  .box--filter-wat {
    font-family: Cambria; 
    float: left;
    width: 250px;   
    height: 150px;
    background-color: #9fbff2; 
    position: absolute;
    top: 340px;
    left: 0;
    margin-right: 15px; 
    padding-right: 20px;

 }

   .box--filter-wie {
    font-family: Cambria; 
    float: left;
    width: 250px;   
    height: 100px;
    background-color: #9fbff2; 
    position: absolute;
    top: 440px;
    left: 0;
    margin-right: 15px;    
    padding-right: 20px;
    
 }

   .box--filter-waar {
    font-family: Cambria; 
    float: left;
    width: 250px;   
    height: 1475px;
    background-color: #9fbff2;
    position: absolute;
    top: 540px;
    left: 0;
    margin-right: 15px; 
    padding-right: 20px;
    
 }

 
 .box--dagtocht {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     width: 1200px; 
     height: 375px;  
     margin-bottom: 5px; 
     margin-left: 150px;
     border-color: #1191db; 
     background-color:white; 
     border-right: lightblue;
     border-left: lightblue;  
 }

 .box--dagDetail {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     margin-left: 275px; 
     width: 1000px; 
     height: 700px;  
     margin-bottom: 5px; 
     border-color: #1191db; 
     background-color:white; 
     border-right: lightblue;
     border-left: lightblue; 
     text-align: center;
 }

  .box-ooi {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     width: 1200px; 
     height: 200px;  
     margin-bottom: 5px; 
     margin-left: 150px;
     border-color: #1191db; 
     background-color:white; 
     border-right: lightblue;
     border-left: lightblue;  
 }

 
 .box--vragen {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     width: 1000px; 
     height: 100px;  
     margin-bottom: 5px; 
     border-color: #1191db; 
     background-color:white; 
     border-right: lightblue;
     margin-left: 150px;
     border-left: lightblue;  
 }

  .box--antwoord {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     margin-left: 150px;
     width: 1000px; 
     height:150px;  
     margin-bottom: 5px; 
     border-color: white; 
     background-color: lightblue; 
     border-right: lightblue;
     border-left: lightblue;  
 }

  .box-VraagBorder {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 10px; 
     width: 1300px; 
     height: 1500px;  
     margin-left: 140px; 
     margin-bottom: 5px; 
     border-color: #1191db; 
     background-color:white; 
 }
   .box-ooiDetail {
     font-family: Cambria; 
     padding-left: 10px; 
     width: 1200px; 
     height: 125px;  
     margin-bottom: 5px; 
     margin-left: 150px;
     background-color:white; 
 }

    .box-ooiDetailInfo {
     font-family: Cambria; 
     font-size: 16px; 
     padding-left: 10px; 
     width: 1200px; 
     height: 250px;  
     margin-bottom: 5px; 
     margin-left: 50px;
     background-color:white; 
 }
  .box--search {
     font-family: Cambria; 
     border-style: solid; 
     padding-left: 1000px; 
     
     height: 35px;  
     margin-bottom: 5px; 
     padding-right: 1000px;
     border-color: #1191db; 
     background-color:white;  
 }

