// ==========================================================================
// OBJECTS | Buttons
// ==========================================================================
.enjoy-css {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  border: 4px solid #e0e0e2;
  font: normal normal bold 18px/38px Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #689acc;
}

.enjoy-css:hover {
  border: 4px solid rgb(255,255,255);
  color: white;
  background: #193566;
}

.small--button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  border: 2px solid #e0e0e2;
  font: normal normal bold 6px/19px Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1191db;
}

.regular-button {
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  border: 2px solid #e0e0e2;
  font: normal normal bold 16px/19px Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #689acc;
}

.regular-button:hover {
  border: 2px solid rgb(255,255,255);
  color: #689acc;
  background: #fff;
}


.button {
  @extend button;

  &--inline {
    float: left;
    margin-right: 5px;
  }
}

.button--primary {
  background: $main-color;
  color: #fff;
  &:hover {
    background: #fff;
    color: $main-color;
  }
}

.button--light {
  color: #08ABCE;
  background: #fff;
  &:hover {
    background: #fff;
    color: #06809C;
  }
}

.button__actions-wrapper {
  overflow: hidden;
}

.button__actions {
  float: left;
  button {
    margin: 20px 20px 0 0;
  }
}

.button--close,
.button--delete,
.button--unlink,
.button--existing,
.button--cancel,
.button--fullscreen,
.button--toggle {
  font-size: 0;
  padding: 0;
  height: 47px;
  line-height: 47px;
  margin-left: 20px;
  overflow: hidden;
  text-align: center;
  font-weight: normal;
  border: none;
  &:before {
    font-family: 'icomoon';
    font-size: 20px;
    width: 100%;
    display: block;
  }
}

.button--close {
  &:before {
    content: $icon-cross;
  }
}

.button--existing {
  &:before {
    content: $icon-link;
  }
}

.button--unlink {
  &:before {
    content: $icon-unlink;
  }
}

.button--delete {
  &:before {
    content: $icon-trash;
  }
}

.button--cancel {
  &:before {
    content: $icon-cross;
  }
}

.button--fullscreen {
  &:before {
    content: $icon-fullscreen;
  }
}

.button--toggle {
  background: $button--toggle-bg;
  color: #fff;
  padding: 0 10px;
  &:hover {
    color: #fff;
  }

  &:before {
    content: $icon-plus;
  }

  &--open {
    &:before {
      content: $icon-minus;
    }
  }
}

.button--search {
  height: 42px;
  line-height: 42px;
  margin-left: 20px;

}


.vraag-button {
  position: relative;
  cursor: pointer;
  margin-left: 150px;
  top: 0;
  padding: 0 22px;
  border: 2px solid #e0e0e2 ;
  font: normal normal bold 16px/19px Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #689acc ;
}

.vraag-button:hover {
  border: 2px solid rgb(255,255,255);
  color: #689acc ;
  background: #fff;
}