.title {

}

.title-aanbiedingen {
    font-family: Cambria;
    color:#1191db ;
    font-size: 30px;
    border-style: solid;
    border-left: hidden;
    border-right: hidden;
}

.title-detail {
    font-family: Cambria;
    color:#1191db ;
    font-size: 30px;
}

.title-ooi {
    font-family: Cambria;
    color:#1191db ;
    font-size: 30px;
    margin-left: 150px;
}

  .title-ooi {
     font-family: Cambria; 
     padding-left: 10px; 
     width: 1200px; 
     height: 100px;  
     margin-bottom: 5px; 
     margin-left: 150px;
 }

   .title-ooiDetInf {
     font-family: Cambria; 
     padding-left: 10px; 
     width: 1200px; 
     height: 100px;  
     margin-bottom: 5px; 
     margin-left: 100px;
 }
